videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 1200px;
  padding-top: 25px;
}
.video-grid {
  display: grid;
  /* setting the number of columns here to two. */
  grid-template-columns: 500px 500px;
  /* adding some space between the videos */
  grid-gap: 50px;
  margin-top: 25px;
  column-width: 500px;
}
.video-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.video-grid ul img {
  max-width: 100%;
}
#alert-margin {
  margin-top: 10px;
  background-color: #002F5C;
  color: #16E6F9;
  font-weight: bold;
}
#video-text {
  color: #002F5C;
  flex-wrap: wrap;
}
#search-submit {
  color: #002F5C;
  background-color: #16E6F9;
  font-weight: bold;
}
#modal {
  font-weight: bolder;
  font-size: x-large;
}