.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 1200px;
  padding-top: 25px;
}

.video-grid {
  display: grid;
  /* setting the number of columns here to two. */
  grid-template-columns: 500px 500px;
  /* adding some space between the videos */
  grid-gap: 50px;
  margin-top: 25px;
  justify-items: center;
}

.video-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.video-grid ul img {
  max-width: 100%;
  width: 480px;
  height: 360px;
}

#alert-margin {
  margin-top: 10px;
  background-color: #002f5c;
  color: #16e6f9;
  font-weight: bold;
}

#video-text {
  color: #002f5c;
  flex-wrap: wrap;
}

#search-submit {
  color: #002f5c;
  background-color: #16e6f9;
  font-weight: bold;
}

.btn,
.max-results {
  margin-left: 5px;
}

.search-bar {
  margin-right: 5px;
}

#modal {
  font-weight: bolder;
  font-size: x-large;
}

@media only screen and (max-width: 1100px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}
